/** Main stylesheet for HIS 315K. Created by Junyuan Tan and Chris Pittman, LAITS.
  *
  * CONTENTS
  *
  * IMPORT_ - Imports split up stylesheets from URL
  * RESPONSIVE_ - Cohensive and responsive layout
  *
*/

/*------------------------------------*\
  #IMPORT_STYLES
\*------------------------------------*/

@import url('framework.css');
@import url('activity.css');


/*------------------------------------*\
  #RESPONSIVE_STYLES_REBUILD
\*------------------------------------*/

@media (max-width: 1024px) {
    .header-container {
        left: 41%;
    }
    .md-button.md-fab,
    .contact-button {
        left: 82vw;
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
    .element-drop {
        height: 8vw;
        margin-left: 0px;
        width: 8vw;
    }
    .drop-icon {
        font-size: 4vw;
        padding-left: 2vw;
        padding-top: 2vw;
    }
    .number-display {
        top: -35%;
    }
    .a1-entry-contain {
        top: -5vw;
    }
}
@media (max-width: 720px) {
    .header-container {
        left: 40%;
    }
    .md-button.md-fab,
    .contact-button {
        left: 82vw;
        height: 36px;
        width: 36px;
        line-height: 36px;
    }
    .nav-element {
        font-size: .7em;
    }
    .element-drop {
        height: 12vw;
        margin-left: 8px;
        width: 12vw;
    }
    md-sidenav {
        height: 100%;
        max-width: 25vw;
        min-width: 25vw;
        width: 25vw;
    }
    .drop-icon {
        font-size: 6vw;
        padding-left: 3vw;
        padding-top: 3vw;
    }
    .number-display {
        font-size: 4em;
        top: -43%;
    }
}
@media (max-width: 540px) {
    .header-container {
        left: 38%;
    }
    .content-center {
        width: 80%;
    }
    .md-button.md-fab,
    .contact-button {
        height: 56px;
        width: 56px;
        line-height: 56px;
        left: 80vw;
        top: 90%;
    }
    md-sidenav {
        height: 100%;
        max-width: 50vw;
        min-width: 50vw;
        width: 50vw;
    }
    .element-drop {
        height: 25vw;
        margin-left: 4px;
        width: 25vw;
    }
    .drop-icon {
        font-size: 14vw;
        padding-left: 5.5vw;
        padding-top: 5.5vw;
    }
    .footer-wrap {
        display: none;
    }
}