/*navigation + header*/
.nav-bar {
	background-color: #cc5527;
	background-image: url("img/background.jpg");
	background-position: 0px -30px;
	background-size: cover;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	height: 10vw;
	left: 0;
	min-height: 4vw;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;	
	width: 100%;
	z-index: 10;
	/*transitions*/
	-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;
}
.nav-bar-scroll {
	background: #cc5527;
	background-image: none;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	height: 4vw;
	left: 0;
	overflow: hidden;
	position:fixed;
	right: 0;
	top: 0;
	width: 100%;
	/*-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;*/
}
.nav-element {
	color: #ffffff;
	display: inline;
	font: 1.1vw Roboto 400;
	list-style-type: none;
	margin: 0
	padding: 0;
	padding-top: 1.3vw;
	text-transform: uppercase;
	z-index: 15;
}
.nav-element:hover {
	text-shadow: 0 0 .5px #ffffff;
}
#activities-select {
	float: left;
	padding-left: 1.5vw;
}
#resources-select {
	float: right;
	padding-right: 1.5vw;
}
.header-container {
	float: left;
	left: 43%;
	position: relative;
}
#main-head{
    color: white;
    float: left;
    font-family: "Roboto Slab";
    font-size: 3vw;
    font-weight: 400;
    left: -50%;
    list-style-type: none;
    padding-top: 5vw;
    position: relative;
    z-index: 11;
    /*transitions*/
    -webkit-transition: padding-top font-size 0.1s linear;
	-moz-transition: padding-top font-size 0.1s linear;
	-ms-transition: padding-top font-size 0.1s linear;
	-o-transition: padding-top font-size 0.1s linear;
	transition: padding-top font-size 0.1s linear;
}
/*FAB*/
.chat-icon {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
} 
.md-button.md-fab, 
.contact-button {
	background: #4290D3;
	left: 85%;
	position: fixed;
	top: 7.5vw;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;
}
button.md-fab.contact-button.md-button.md-default-theme{
	background: #4290D3;
}
.contact-button-scroll {
	background: #4290D3
	position: fixed;
	top: 1.5vw;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;
}
/*nav dropdowns*/
.dropdowns {
	height: 100%;
}
#a-dropdown {
	float: left;
	left: 0;
	position: fixed;
	top: 0;	
}
#d-dropdown{
	float: right;
	position: fixed;
	right: 0;
	top: 0;	
}
md-sidenav {
	height: 100%;
	max-width: 15vw;
	min-width: 15vw;	
	width: 15vw;
}
md-backdrop.md-sidenav-backdrop.md-opaque {
	position: fixed;
}
.left-drop {
	padding-right: 40px;
}
div.element-drop {
	background-color: #a5c7e3;
	border-radius: 50%;
	display: inline-block;
	height: 6vw;
	width: 6vw;
}
.drop-tag {
	color: #404040;
	text-align: center;
	text-transform: uppercase;
}
.drop-icon {
	color: #ffffff;
	font-size: 3vw;
	padding-left: 1.5vw;
	padding-top: 1.5vw;
	text-align: center;
}
/*body content*/
.disable-scroll {
	overflow: hidden;
}
.main {
	background-color: #f8f8f8;
	height: 100%;
	width: 100%;
}
md-content {
	background: #f8f8f8;
}
.content-container {
	position: absolute;
	top: 10vw;
}
.content-center {
	margin: auto;
	width: 65%;
}
.content-inject {
	color: #404040;
	white-space: pre-wrap;
}
.content-head {
	color: #505050;
	font-weight: 500;
	-webkit-margin-after: .5em;
	-webkit-margin-before: .5em;	
}
h2.content-head.question-head {
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;	
}
h3.question {
	color: #505050;
	font-weight: 400;
	-webkit-margin-after: .5em;
}
.content-center.text-entry {
	position: relative;
	top: 1.5vw;
}
.content-center.pre-activity {
	position: relative;
	top: 3vw;
}
.btn-continue {
   	 bottom: 1vw;
   	 color: #cc5527;
    	 float: right;
   	 position: relative;
}
md-toast {
	position: fixed;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: #cc5527;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #cc5527;
}
md-input-container {
	padding-bottom: 0 ;
}
