/*navigation + header*/
.nav-bar {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: 0px -30px;
	background-color: #cc5527;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	min-height: 4vw;
	height: 10vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	overflow: hidden;
	/*transitions*/
	-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;
}
.nav-bar-scroll {
	background-image: none;
	background: #cc5527;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	height: 4vw;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	/*-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;*/
}
.nav-element {
	color: #ffffff;
	display: inline;
	font: 1.1vw Roboto 400;
	list-style-type: none;
	margin: 0
	padding: 0;
	padding-top: 1.3vw;
	text-transform: uppercase;
	z-index: 15;
}
.nav-element-active {
	text-shadow: 0 0 .5px #ffffff;
}
#activities-select {
	padding-left: 1.5vw;
	float: left;
}
#resources-select {
	padding-right: 1.5vw;
	float: right;
}
.header-container {
	float: left;
	position: relative;
	left: 43%;
}
#main-head{
	font-family: "Roboto Slab";
    color: white;
    font-size: 3vw;
    font-weight: 400;
    padding-top: 5vw;
    list-style-type: none;
    float: left;
    position: relative;
    left: -50%;
    z-index: 11;
    /*transitions*/
    -webkit-transition: padding-top font-size 0.1s linear;
	-moz-transition: padding-top font-size 0.1s linear;
	-ms-transition: padding-top font-size 0.1s linear;
	-o-transition: padding-top font-size 0.1s linear;
	transition: padding-top font-size 0.1s linear;
}
/*FAB*/
.chat-icon {
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
} 
.md-button.md-fab, 
.contact-button {
	background: #4290D3;
	position: fixed;
	top: 7.5vw;
	left: 85%;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;
}
button.md-fab.contact-button.md-button.md-default-theme{
	background: #4290D3;
}
.contact-button-scroll {
	background: #4290D3
	position: fixed;
	top: 1.5vw;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;

}
/*nav dropdowns*/
.dropdowns {
	height: 100%;
}
#a-dropdown {
	float: left;
	left: 0;
	position: absolute;
	top: 0;	
}
#d-dropdown{
	float: right;
	position: absolute;
	right: 0;
	top: 0;	
}
.md-sidenav-left .md-sidenav-right .md-whiteframe-z2 .nav-dropdown .ng-isolate-scope .md-locked-open {
	height: 100%;
}

/*body content*/

/*html, body {
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}*/
.main {
	background-color: #f8f8f8;
	height: 100%;
	width: 100%;
}
md-content {
	background: #f8f8f8;
}
.content-container {
	position: absolute;
	top: 10vw;
}
.content-center {
	width: 65%;
	margin: auto;
}
.content-inject {
	white-space: pre-wrap;
	color: #404040;
}
.content-head {
	color: #505050;
	font-weight: 500;
}
.content-head.question {
	font-weight: 400;
}