/*navigation + header*/
.nav-bar {
	background-color: #cc5527;
	background-image: url("img/background.jpg");
	background-position: 0px -30px;
	background-size: cover;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	height: 10vw;
	left: 0;
	min-height: 4vw;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;	
	width: 100%;
	z-index: 10;
	/*transitions*/
	-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;
}
.nav-bar-scroll {
	background: #a0a0a0;
	background-image: none;
	height: 4vw;
	width: 100%;
}
.nav-element {
	color: #ffffff;
	display: inline;
	font: 1.1vw Roboto 400;
	list-style-type: none;
	margin: 0
	padding: 0;
	padding-top: 1.3vw;
	text-transform: uppercase;
	z-index: 15;
}
.nav-element:hover {
	text-shadow: 0 0 .5px #ffffff;
}
.nav-element:focus {
	outline: none;
	border: 0;
}
#activities-select {
	float: left;
	padding-left: 1.5vw;
}
#activities-select:focus {
	outline: none;
	border: 0;
}
#resources-select {
	float: right;
	padding-right: 1.5vw;
}
#resources-select:focus {
	outline: none;
	border: 0;
}
.header-container {
	float: left;
	left: 43%;
	position: relative;
}
#main-head{
    color: white;
    float: left;
    font-family: "Roboto Slab";
    font-size: 3vw;
    font-weight: 400;
    left: -50%;
    list-style-type: none;
    padding-top: 5vw;
    position: relative;
    z-index: 11;
    /*transitions*/
    -webkit-transition: padding-top font-size 0.1s linear;
	-moz-transition: padding-top font-size 0.1s linear;
	-ms-transition: padding-top font-size 0.1s linear;
	-o-transition: padding-top font-size 0.1s linear;
	transition: padding-top font-size 0.1s linear;
}
/*FAB*/
.chat-icon {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
} 
.md-button.md-fab, 
.contact-button {
	background: #4290D3;
	left: 85%;
	position: fixed;
	top: 7.5vw;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;
}
button.md-fab.contact-button.md-button.md-default-theme{
	background: #4290D3;
}
a.md-button.md-default-theme.md-fab:not([disabled]):hover, a.md-button.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover {
	background: #3084cc;
}
.contact-button-scroll {
	background: #4290D3
	position: fixed;
	top: 1.5vw;
	-webkit-transition: top 0.1s linear;
	-moz-transition: top 0.1s linear;
	-ms-transition: top 0.1s linear;
	-o-transition: top 0.1s linear;
	transition: top 0.1s linear;
}
/*nav dropdowns*/
.dropdowns {
	height: 100%;
}
#a-dropdown {
	float: left;
	left: 0;
	position: fixed;
	top: 0;	
}
#d-dropdown{
	float: right;
	position: fixed;
	right: 0;
	top: 0;	
}
md-sidenav {
	height: 100%;
	max-width: 15vw;
	min-width: 15vw;	
	width: 15vw;
}
md-backdrop.md-sidenav-backdrop.md-opaque {
	position: fixed;
}
.left-drop, .right-drop{
	padding-right: 40px;
}
.element-drop {
	background-color: #a5c7e3;
	border-radius: 50%;
	display: inline-block;
	height: 6vw;
	width: 6vw;
	margin-left: 25px;
}
.element-drop:hover {
	background: #4290d3;
}
.drop-tag {
	color: #404040;
	text-align: center;
	text-transform: uppercase;
}
.drop-icon {
	color: #ffffff;
	font-size: 3vw;
	padding-left: 1.5vw;
	padding-top: 1.5vw;
	text-align: center;
}
/*body content*/
.disable-scroll {
	overflow: hidden;
}
.main {
	background-color: #f8f8f8;
	height: 100%;
	width: 100%;
}
md-content {
	background: #f7f7f7;
}
.content-container {
	position: absolute;
	top: 9.5vw;
}
.content-center {
	margin: auto;
	width: 65%;
	margin-top: 1.5vw;
}
.content-inject {
	color: #404040;
	white-space: pre-wrap;
	line-height: 1.4;
}
.content-head {
	color: #404040;
	font-weight: 500;
	-webkit-margin-after: .5em;
	-webkit-margin-before: .5em;	
}
h2.content-head.question-head {
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;	
}
h3.question {
	color: #505050;
	font-weight: 400;
	-webkit-margin-after: .5em;
}
md-toast {
	position: fixed;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: #cc5527;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #cc5527;
}
md-input-container {
	margin-bottom: 0vw;
}
.input {
	width: 100% !important;
}
/*activity general*/
.a-display {
	margin-top: 1vw;
	padding-top: 0;
}
.a-intro {
	margin: 0;
}
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
	color: #404040;
}
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
	color: #808080;
}
.md-padding.tab-bg {
	background: none;
}
.img-display {
	width: 50%;
	height: auto;
	float: left;
	padding-right: 1.5vw;
}
/*activity1*/
.activity-card {
	float: left;
	height: 50vw;
	margin: 1.5vw;
	margin-bottom: 0;
}
.activity-card#photo-display {
	width: 65%;
}
.activity-card#text-entry {
	width: 30.5%;
	margin-left: 0;
	margin-right: 0;
}
.activity-wrap {
	width: 100%;
}
.a1-entry-contain {
	height: 100%;
	width: 90%;
	padding: 5%;
	padding-top: 0;
	margin-top: -1vw;
	margin: auto;
	position: relative;
	top: -12vw;
}
.activity-btn {
	bottom: -2vw;
   	color: #cc5527;
    float: right;
    right: -1.5vw;
   	position: relative;
}
.grid-display {
	height: 100%;
	width: 100%;
}
.img-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*carousel*/
.carousel {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
}
.slide {
	display: inline-block;
	width: 100%;
	height: 50vw;
	min-width: 100%;
	min-height: 50vw;
	overflow: hidden;
}
.scrim {
	width: 4vw;
	height: 100%;
	background: #000000;
	opacity: .3;
}
.scrim:focus {
	outline: none;
	border: 0;
}
.left-scrim {
	position: absolute;
	float: left;
	left: 0;
	top: 0;
	background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.1));
	background: -moz-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.1));
	background: -o-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.1));
	background: -webkit-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.1));
}
.right-scrim {
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,1));
	background: -moz-linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,1));
	background: -o-linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,1));
	background: -webkit-linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,1));
}
#arrow-left {
	font-size: 4vw;
	color: #ffffff;
	position: absolute;
	float: left;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	opacity: .75;
}
#arrow-right {
	font-size: 4vw;
	color: #ffffff;
	position: absolute;
	float: right;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	opacity: .75;
}
.arrow:focus {
	outline: none;
	border: 0;
}
.number-display {
	position: relative;
	float: right;
	top: -26%;
	right: 2.5%;
	font-size: 5em;
	color: #ffffff;
	font-weight: 700;
	opacity: .75;
}
/*activity 2*/
.a2-entry-contain {
	width: 60vw;
}
/*activity 3*/
.a3-entry-contain {
	width: 60vw;
}
/*activity 4*/
/*columbus at the movies*/
md-card.video {
	height: 36.5625vw;
	max-height: 100vh;
}
/*primary source*/
