/*navigation + header*/
.nav-bar {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: 0px -30px;
	background-color: #cc5527;
	min-height: 4vw;
	height: 10vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	/*transitions*/
	-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;
}
.nav-bar-scroll {
	background-image: none;
	background: #cc5527;
	height: 4vw;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/*-webkit-transition: height 0.1s linear;
	-moz-transition: height 0.1s linear;
	-ms-transition: height 0.1s linear;
	-o-transition: height 0.1s linear;
	transition: height 0.1s linear;*/
}
.nav-element {
	color: #ffffff;
	display: inline;
	font: 1.1vw Roboto 400;
	list-style-type: none;
	margin: 0
	padding: 0;
	padding-top: 1.2vw;
	text-transform: uppercase;
	z-index: 15;
}
.nav-element-active {
	text-shadow: 0 0 .5px #f0f0f0;
}
/*.nav-element-scroll {
	padding-top: 1vw;
	/*transitions
	-webkit-transition: padding-top 0.45s linear;
	-moz-transition: padding-top 0.45s linear;
	-ms-transition: padding-top 0.45s linear;
	-o-transition: padding-top 0.45s linear;
	transition: padding-top 0.45s linear;
}*/
#activities-drop {
	padding-left: 1.5vw;
	float: left;
}
#resources-drop {
	padding-right: 1.5vw;
	float: right;
}
.header-container {
	float: left;
	position: relative;
	left: 43%;
}
#main-head{
	font-family: "Roboto Slab";
    color: white;
    font-size: 3vw;
    font-weight: 400;
    padding-top: 5vw;
    list-style-type: none;
    float: left;
    position: relative;
    left: -50%;
    z-index: 11;
    /*transitions*/
    -webkit-transition: padding-top font-size 0.1s linear;
	-moz-transition: padding-top font-size 0.1s linear;
	-ms-transition: padding-top font-size 0.1s linear;
	-o-transition: padding-top font-size 0.1s linear;
	transition: padding-top font-size 0.1s linear;
}

/*body content*/
body .main {
	background-color: #f7f7f7;
	height: 100%;
	width: 100%;
}
.float-center {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}
.float-center md-card .content-center {
	position: relative;
	left: 50%;
	width:70%;
	height: 3000px;
}