<div ng-controller="Activity3Controller as activity">
	<div layout="column" layout-align="space-around center">
		<md-content layout-padding>
		<!--intro-->
		<md-card flex class="content-center a-display">
		<md-card-content>
		<p class="content-inject a-intro">{{activity.intro}}</p>
		</md-card-content>
		</md-card>
		<!--text entry-->
		<md-card class="a-display content-center" id="text-entry" layout-align="space-around center" ng-controller="EntryController">
			<md-card-content>
			<div class="a3-entry-contain">
				<h3 class="question"> Why do you think Washington Irving created the Columbus Myth?
				</h3>
			<md-input-container>
			<form name="answer-input">
			<label>Type your answer here</label>
			<textarea class="input" ng-model="EntryController" required md-maxlength="300" minlength="50"rows="5" md-no-autogrow="true"></textarea>
			</md-input-container>
			</md-card-content>
			</form>
			<md-card-actions layout="row" layout-align="end center" ng-controller="EntryController">
			<md-button class="activity-btn" ng-disabled="true"  ng-click="submit()">Submit</md-button>
			</md-card-actions>
			</div>
			</md-card-content>
			</md-card>
	</div>
	<div class="footer-wrap">
	<div class="footer" layout="space-around center">
		<div class="node first selected">
			<md-tooltip md-direction="top">1492</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1550</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1600</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1650</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1700</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1750</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1800</md-tooltip>
		</div>
		<div class="node">
		<md-tooltip md-direction="top">1865</md-tooltip>
		</div>
    </div>
</div>
</div>