<div ng-controller="Activity1Controller as activity">
	<div layout="column" layout-align="space-around center">
		<md-content layout-padding>
		<!--intro-->
		<md-card flex class="content-center a1-display">
		<md-card-content>
		<p class="content-inject">{{activity.intro}}</p>
		</md-card-content>
		</md-card>
		<div class="activity-wrap" ng-controller="Activity1Controller as activity">
			<!--big portrait-->
			<md-card class="activity-card" id="photo-display" layout flex="66" layout-align="center center" ng-controller="CarouselController">
			<carousel images="a1_images">
			</md-card>
			<!--text entry-->
			<md-card class="activity-card" id="text-entry" layout flex="33" layout-align="space-around center" ng-controller="EntryController">
			<md-card-content>
			<div class="a1-entry-contain">
				<h3 class="question"> Based on these descriptions, explain which of the following portraits is probably most accurate.</h3>
				<md-input-container>
			<form name="answer-input"></form>
			<label>Type your answer here</label>
			<textarea ng-model="EntryController" md-maxlength="300" rows="5" md-no-autogrow="true"></textarea>
			</md-input-container>
			</md-card-content>
			</form>
			<md-card-actions layout="row" layout-align="end center" ng-controller="EntryController">
			<md-button class="activity-btn" ng-click="submit()">Submit</md-button>
			</md-card-actions>
			</div>
			</md-card-content>
			</md-card>
		</div>	
	</div>
</div>