<div ng-controller="Activity4Controller as activity">
	<div layout="column" layout-align="space-around center">
		<md-content layout-padding>
		<!--intro-->
		<md-card flex class="content-center a-display">
		<md-card-content>
		<p class="content-inject">{{activity.intro}}</p>
		</md-card-content>
		</md-card>
		<div class="activity-wrap" ng-controller="Activity4Controller as activity">
			<!--big portrait-->
			<md-card class="activity-card" id="photo-display" layout flex="66" layout-align="center center" ng-controller="CarouselController">
			<carousel images="a4_images">
			</md-card>
			<!--text entry-->
			<md-card class="activity-card" id="text-entry" layout flex="33" layout-align="space-around center" ng-controller="EntryController">
			<md-card-content>
			<div class="a1-entry-contain">
				<h3 class="question"> What do these paintings say about popular attitudes toward Columbus in their respective countries?</h3>
				<md-input-container>
			<form name="answer-input">
			<label>Type your answer here</label>
			<textarea class="input" ng-model="EntryController" required md-maxlength="300" minlength="50" rows="5" md-no-autogrow="true"></textarea>
			</md-input-container>
			</md-card-content>
			</form>
			<md-card-actions layout="row" layout-align="end center" ng-controller="EntryController">
			<md-button class="activity-btn" ng-disabled="true" ng-click="submit()">Submit</md-button>
			</md-card-actions>
			</div>
			<div class="carousel-caption-contain">
				<p id="caption">John Vanderlyn, Landing of Christopher Columbus, U.S. Capitol, 1846</p>
			</div>
			</md-card-content>
			</md-card>
		</div>	
	</div>
	<div class="footer-wrap">
	<div class="footer" layout="space-around center">
		<div class="node first selected">
			<md-tooltip md-direction="top">1492</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1550</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1600</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1650</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1700</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1750</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1800</md-tooltip>
		</div>
		<div class="node">
		<md-tooltip md-direction="top">1865</md-tooltip>
		</div>
    </div>
</div>
<div class="footer-wrap">
	<div class="footer" layout="space-around center">
		<div class="node first selected">
			<md-tooltip md-direction="top">1492</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1550</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1600</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1650</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1700</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1750</md-tooltip>
		</div>
		<div class="node">
			<md-tooltip md-direction="top">1800</md-tooltip>
		</div>
		<div class="node">
		<md-tooltip md-direction="top">1865</md-tooltip>
		</div>
    </div>
</div>
</div>