<!DOCTYPE html>
<html>
	<head>
		<title>Module 3</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body class="main" ng-app="MintzApp">
		<!--dropdown menus-->
		<section class="dropdowns">
		<md-sidenav id="a-dropdown" class="md-sidenav-left md-whiteframe-z2 nav-dropdown" md-component-id="left" md-is-locked-open="false">
		<ul class="left-drop" layout="column" layout-align="space-around center">
			<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">library_books</i>
			</div>
			<p class="drop-tag">Introduction</p>
			</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">insert_photo</i>
			</div>
			<p class="drop-tag">Activity 1</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">mode_edit</i>
			</div>
			<p class="drop-tag">Activity 2</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">mode_edit</i>
			</div>
			<p class="drop-tag">Activity 3</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">insert_photo</i>
			</div>
			<p class="drop-tag">Activity 4</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">video_library</i>
			</div>
			<p class="drop-tag">Columbus at the Movies</p>
		</li>
		</ul>
		</md-sidenav>
		<md-sidenav id="d-dropdown" class="md-sidenav-right md-whiteframe-z2" nav-dropdown md-component-id="right" md-is-locked-open="false">
		<ul class="left-drop" layout="column" layout-align="space-around center">
			<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">book</i>
			</div>
			<p class="drop-tag">Textbook</p>
			</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">video_library</i>
			</div>
			<p class="drop-tag">Films</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">music_note</i>
			</div>
			<p class="drop-tag">Music</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">library_books</i>
			</div>
			<p class="drop-tag">Primary Resources</p>
		</li>
		<li class="drop-contain" layout="column" layout-align="space-around center">
			<div class="element-drop">
				<i class="material-icons drop-icon">insert_photo</i>
			</div>
			<p class="drop-tag">Visual Histories</p>
		</li>
		</ul>
		</md-sidenav>
		</section>
		<!--top navigation-->
		<div class="nav-bar">
			<nav ng-controller="ContactController as contact">
				<div class="nav-element" id="activities-select">
					<li class="nav-select" ng-click="openLeftMenu()">Activities</li>
				</div>
				<div class="nav-element" id="resources-select">
					<li class="nav-select" ng-click="openRightMenu()">Resources</li>
				</div>
			</nav>
			<div class="header-container">
				<li id="main-head">The Significance of 1492</li>
			</div>
		</div>
		<!--contact FAB USE FAB SPEED DIAL-->
		<section id="contact-fab">
			<md-button class="md-fab contact-button" aria-label="contact">
				 <i class="material-icons chat-icon">chat</i>
				<md-tooltip md-direction="down">
          		Connect with your classmates!
        		</md-tooltip>
		</section>
		<section id="content">
			<div class="content-container" ng-controller="ModuleController as module">
			<!--main content card-->
			<div layout="column" layout-align="space-around center" id="float-center">
				<md-content class="md-padding" layout="column" layout-align="center start">
				<md-card flex class="content-center">
				<md-card-content>
				<!--<h3 class="content-head">Introduction to Module 3</h3>-->
				<p class="content-inject">{{introduction}}</p>
				<h3 class="content-head">Three Worlds Collide</h3 class="content-head">
				<p class="content-inject">{{worlds_collide}}</p>
				<h3 class="content-head">The Significance of 1492</h3 class="content-head">
				<p class="content-inject">{{significance}}</p>
				<h3 class="content-head">When Worlds Collide</h3 class="content-head">
				<p class="content-inject">{{when_worlds_collide}}</p>
				<h3 class="content-head">Cinematic Encounters With Aliens</h3>
				<p class="content-inject">{{cinematic_encounters}}</p>
				<h3 class="content-head">The Day the Earth Stood Still (1951)</h3>
				<p class="content-inject">{{earth_still}}</p>
				<h3 class="content-head">War of the Worlds (1953)</h3>
				<p class="content-inject">{{war_worlds}}</p>
				<h3 class="content-head">Earth vs. The Flying Saucers (1956)</h3>
				<p class="content-inject">{{earth_flying_saucers}}</p>
				<h3 class="content-head">Invasion of the Body Snatchers (1956)</h3>
				<p class="content-inject">{{invasion_body_snatchers}}</p>
				<h3 class="content-head">E.T.: The Extraterrestrial (1982)</h3>
				<p class="content-inject">{{et}}</p>
				<h3 class="content-head">Independence Day (1996)</h3>
				<p class="content-inject">{{independence_day}}</p>
				<h3 class="content-head">European Conceptions of the Other</h3>
				<p class="content-inject">{{european_conceptions}}</p>
				</md-card-content>
				</md-card>
				<!--text entry for question-->
				<md-card flex class="content-center text-entry" ng-controller="EntryController">
				<md-card-content>
				<h2 class="content-head question-head">Question:</h2>
				<h3 class="question"> How do you think such images may have influenced Columbus’s ideas about the New World Indians?</h3>
				<md-input-container>
				<form name="answer-input"></form>
				<label>Type your answer here</label>
				<textarea ng-model="EntryController" md-maxlength="300" rows="5"></textarea>
				</md-input-container>
				</md-card-content>
				</form>
				<md-card-actions layout="row" layout-align="end center" ng-controller="EntryController">
					<md-button class="btn-continue" ng-click="submit()">Continue</md-button>
				</md-card-actions>
				</md-card>
				<md-card flex class="content-center pre-activity">
				<md-card-content>
				<h3 class="content-head">Why Did It Take So Long to Regularly Cross the Atlantic?</h3>
				<p class="content-inject">{{atlantic_crossing}}</p>
				<h3 class="content-head">Christopher Columbus</h3>
				<p class="content-inject">{{christopher_columbus}}</p>
				<h3 class="content-head">Activity Introduction</h3>
				<p class="content-inject">{{activity_intro}}</p>
				</md-card-content>
				</md-card>
			</div>
		</div>
	</section>
	<!--<div ng-controller="ModuleController">
						This is a module with two activities.
						What to do when you see the 'module' and 'activity*' tags
						are defined in directives in app.js.
						<module>
		<activity1></activity1>
<activity2></activity2>
</module>
</div>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="js/app.js"></script>
</body>
</html>