<div class="carousel">
	<div class="slide"  ng-repeat="image in images" ng-show="image.visible">
		<img ng-src="img/carousel/{{image.src}}">
	</div>
	<div class="scrim right-scrim" ng-click="next(); caption()" ng-keydown="$event.which === 39 && next() && caption()"></div>
	<i class="material-icons arrow" id="arrow-right" ng-click="next()">navigate_next</i>
	<div class="scrim left-scrim" ng-click="prev(); caption()"></div>
	<i class="material-icons arrow" id="arrow-left" ng-click="prev()" ng-keydown="$event.which === 37 && prev() && caption()">navigate_before</i>
	<p class="number-display">1</p>
</div>