<div class="module-footer">
	<div class="date-container left">
		<p class="date-display small">1400</p>
		<md-tooltip md-direction="top">Things happen in America</md-tooltip>
	</div>
	<div class="date-container center">
		<p class="date-display">1492</p>
		<md-tooltip md-direction="top">Columbus Discovers the New World</md-tooltip>
	</div>
	<div class="date-container right">
		<p class="date-display small">1550</p>
		<md-tooltip md-direction="top">Things continue to happen in America</md-tooltip>
	</div>
</div>